.login__layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  background-image: url('../../Image/login-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}